h1 {
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
    font-family:'Courier New', Courier, monospace;
    background: rgb(231, 208, 248);
    
}