body {
    font-family: 'Courier New', Courier, monospace;
    background-color:blueviolet;
    
}

a {
    text-decoration: none;
} 
 

h1 {
    text-align: center;
    font-size: 60px;
    border:  solid 3px;
}

p {
    font-size: 40px;
}

